TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
ORCHESTRATOR_URL=http://orchestrator:8000

# Блокчейн верификация
CONTRACT_ADDRESS=0xd00a12D1a67fE239cA9f628667a139087BFCB4Bd
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
WALLET_PRIVATE_KEY=приватный_ключ_кошелька_для_подписи_транзакций
